{% extends 'dashboardNavbar.html' %}


{% block title %}
{{type}}
{% endblock %}


{% block content %}

{% ifequal type 'Ticket' %}


<br>
<div class="row">
    <div class="col-sm-12 mx-auto">
        <h5>ALL TICKETS</h5>
        <hr>
        <div class="row">
            <div class="col">
                <div style="width:1000px; margin:0 auto;" class="card card-body">

                    <form method="get">
                        {{ticket_filter.form}}

                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>

                </div>
            </div>
        </div>

        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="/customerDetails">Create Ticket</a>
            <table class="table table-sm">
                <tr>
                    <th>S.No</th>
                    <th>Customer Name</th>
                    <th>Date Created</th>
                    <th>Priority</th>
                    <th>Category</th>
                    <th>Sub Category</th>
                    <th>Model No</th>
                    <th>Serial No</th>
                    <th>Summary</th>
                    <th>AMC</th>
                    <th>Status</th>
                    <th>Fault Found Code</th>
                    <th>Resolution Code</th>
                    <th>Resolution Remarks</th>
                    <th>Online Resolvable</th>
                    <th>Ticket ID</th>
                    <th>Alternate HW</th>
                    <th>Update</th>
                    {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                    <th>History</th>
                    {% endif %}
                </tr>

                {% for ticket in all_tickets %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ticket.Customer.Name}}</td>
                    <td>{{ticket.DateCreated}}</td>
                    <td>{{ticket.Priority}}</td>
                    <td>{{ticket.Category}}</td>
                    <td>{{ticket.SubCategory}}</td>
                    <td>{{ticket.ModelNo}}</td>
                    <td>{{ticket.SerialNo}}</td>
                    <td>{{ticket.Summary}}</td>
                    <td>
                        {% ifequal ticket.AMC True %}
                        Yes
                        {% endifequal %}
                        {% ifequal ticket.AMC False %}
                        No
                        {% endifequal %}
                        {% ifequal ticket.AMC None %}
                        Unknown
                        {% endifequal %}
                    </td>
                    <td>{{ticket.Status}}</td>
                    <td>{{ticket.FaultFoundCode}}</td>
                    <td>{{ticket.ResolutionCode}}</td>
                    <td>{{ticket.ResolutionRemarks}}</td>
                    <td>
                        {% ifequal ticket.OnlineResolvable True %}
                        Yes
                        {% endifequal %}
                        {% ifequal ticket.OnlineResolvable False %}
                        No
                        {% endifequal %}
                        {% ifequal ticket.OnlineResolvable None %}
                        Unknown
                        {% endifequal %}
                    </td>
                    <td>{{ticket.TicketID}}</td>
                    <td>{{ticket.AlternateHW}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'updateTicket' ticket.TicketID %}">Update</a></td>
                {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                    <td><a class="btn btn-sm btn-warning" href="{% url 'ticketLog' ticket.TicketID %}">Logs</a></td>
                {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        </table>
    </div>
</div>
</div>


{% else %}

<br>

<div class="container">
    <table class="table table-striped table-bordered">
        <tr>
            <th>S.No</th>
            <th>User ID</th>
            <th>Priority</th>
            <th>Category</th>
            <th>Sub Category</th>
            <th>Model No</th>
            <th>Serial No</th>
            <th>Summary</th>
            <th>AMC</th>
            <th>Status</th>
            <th>Fault Found Code</th>
            <th>Resolution Code</th>
            <th>Resolution Remarks</th>
            <th>Online Resolvable</th>
            <th>Ticket ID</th>
            <th>Alternate HW</th>
            <th>Date Updated</th>
            <th>Change Type</th>
        </tr>

        {% for history in all_history %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{history.history_user_id}}</td>
                    <td>{{history.Priority}}</td>
                    <td>{{history.Category}}</td>
                    <td>{{history.SubCategory}}</td>
                    <td>{{history.ModelNo}}</td>
                    <td>{{history.SerialNo}}</td>
                    <td>{{history.Summary}}</td>
                    <td>
                        {% ifequal history.AMC True %}
                        Yes
                        {% endifequal %}
                        {% ifequal history.AMC False %}
                        No
                        {% endifequal %}
                        {% ifequal history.AMC None %}
                        Unknown
                        {% endifequal %}
                    </td>
                    <td>{{history.Status}}</td>
                    <td>{{history.FaultFoundCode}}</td>
                    <td>{{history.ResolutionCode}}</td>
                    <td>{{history.ResolutionRemarks}}</td>
                    <td>
                        {% ifequal history.OnlineResolvable True %}
                        Yes
                        {% endifequal %}
                        {% ifequal history.OnlineResolvable False %}
                        No
                        {% endifequal %}
                        {% ifequal history.OnlineResolvable None %}
                        Unknown
                        {% endifequal %}
                    </td>
                    <td>{{history.TicketID}}</td>
                    <td>{{history.AlternateHW}}</td>
                    <td>{{history.history_date}}</td>
                    <td>
                        {% ifequal history.history_type '+' %}
                        Created
                        {% endifequal %}
                        {% ifequal history.history_type '~' %}
                        Updated
                        {% endifequal %}
                    </td>
                </tr>
                {% endfor %}
    </table>
</div>

{% endifequal %}

{% endblock %}

